
.section-1{
    background-color: #CAF0F8;
}
.progress-section{
    background-color: #CAF0F8;
}

.frequently-section{
    background-color: 
    #EFEFEF;
}
.progress-bar{
    background: #073b3a !important;
}

.accordion-button {
    background: #073b3a !important;
    color: white !important;
}

.accordi-color{
    background: #CAF0F8 !important;
}

.message-section{
    background-color: 
    #EFEFEF;
}

.send-msg{
    background-color: #073b3a !important;
    background: #073b3a !important;
}