/* common things */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Signika', sans-serif !important;
  overflow-x: hidden;
  
}


#index-navbar-brand {
  background: url("../../assets/img/ik-accademy-png-white.png") center / contain no-repeat;
  width: 182px;
  height: 42px;
  margin-left: 34px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin-left: 2%;
  margin-right: 10%;
  height: 15px;
  background: #FFFFFF;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider-container {
  width: 95%;
}

.navbar-auth-button {
  /* background-image: linear-gradient(to right, #2DAB63, #2A9C5B, #2A915A, #269359); */
  background-color: #072227d5 !important;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid #7897AB !important;
  border-radius: 10px !important;
  width: 100px;
  margin-right: 10px !important;
}

#signup-button {
  margin-right: 7px;
}

.nav-link.active {
  color: #269359 !important;
}

.nav-dropdown-item {
  margin: auto auto;
}

.dropdown-toggle-link {
  text-decoration: none;
  color: rgba(0,0,0,.55);
}

.dropdown-toggle-link:hover {
  color: rgba(0,0,0,0.7);
}

@media (min-width: 992px) {
  .nav-item-box {
    margin: 0px 4px;
  }
}

.font-nunito {
  font-family: Nunito, sans-serif;
}

#homepage-search-button {
  /* background-image: linear-gradient(to right, #2DAB63, #2A9C5B, #2A915A, #269359); */
  background-color: #072227d5 !important;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid black;
  border-radius: 0px 7px 7px 0px;
  height: 35px;
}

#homepage-left-banner {
  height: 90vh;
  
}

#homepage-search-input {
  padding: 0px;
  height: 35px;
  border-radius: 7px 0px 0px 7px;
  border: none;
  background: #f2f2f2;
  width: 50%;
}



.view-detalis-button {
  background-image: linear-gradient(to right, #2DAB63, #2A9C5B, #2A915A, #269359);
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}

#homepage-right-banner {
  height: 90vh;
  background: url("../../assets/img/bg.png") center / cover no-repeat;
}

#top-rated-institution-container {
  margin-top: 3rem;
}

.review-star {
  margin: 0px 6px;
  color: #269359;
}

.course-card-column {
  margin-top: 1rem;
}

.view-all-button {
  background-image: linear-gradient(to right, #2DAB63, #2A9C5B, #2A915A, #269359);
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.view-all-button-row {
  margin-top: 2rem;
}

#top-rated-course-container {
  margin-top: 3rem;
}

#about-us-image {
  border-radius: 10% 50% 30% 40%;
}

#about-us-container {
}

#about-us-row {
  height: 80vh;
  
}

#contact-us-button {
  background-image: linear-gradient(to right, #2DAB63, #2A9C5B, #2A915A, #269359);
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}

#drop-us-message-row {
  margin-bottom: 2rem;
}

#drop-us-message-row-2 {
  /* margin-bottom: 9rem; */
}

#drop-us-message-boi {
}

.front-page-text-input {
  border-radius: 4px;
  border-width: 1px;
  border-color: #c9c9c9;
  width: 75%;
  height: 36px;
  margin: 10px 0px;
  padding-left: 8px;
}

.front-page-text-area {
  border-radius: 4px;
  border-width: 1px;
  border-color: #c9c9c9;
  width: 75%;
  height: 100px;
  margin: 10px 0px;
  resize: none;
  padding-left: 8px;
}

#navbar-ik-learning {
 
  background-color: #4FBDBA;
 
  height: 10vh;
  
}


.category-badge {
  background-image: linear-gradient(to right, #2DAB63, #2A9C5B, #2A915A, #269359);
  color: #FFFFFF;
}

.green-text {
  color: #269359;
}

.thr-px-fn {
  font-size: 13px;
}

.sixt-px-fn {
  font-size: 16px;
}

.institution-card-column {
  margin-top: 1rem;
}

.institution-course-hr {
  color: #269359;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #0B6E4F;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 10px;
}

.institution-course-keyword-row {
  margin-top: 12px;
}

.red-text {
  color: red;
}

.discounted-price {
  text-decoration: line-through;
  margin-left: 10px;
}

.course-institution-price-button-col {
  border-left: 1px solid #269359;
}

.course-breadcrum-icon {
  margin: 0px 10px;
}

.breadcrumb-text {
  font-weight: bold;
  font-size: 14px;
}

#course-breadcrum-row {
  margin-bottom: 1rem;
}

.course-rating-text {
  color: #F7BB56;
  font-size: 14px;
}

.course-instructor-image {
  max-width: 36px;
  height: 36px;
  width: 36px;
}

#course-course-instructor-row {
  margin-top: 1rem;
}

#course-student-enrolled-row {
  margin-top: 1rem;
}

.course-enrolled-count {
  font-weight: bold;
  margin-right: 7px;
}

#course-enroll-button-row {
  margin: 2rem 0rem;
}

#course-offered-by-text {
  font-size: 14px;
}

#course-enroll-button {
  padding: 1rem 2rem;
}

.instructor-name-text {
  font-size: 14px;
}

.course-rating-count-text {
  font-size: 14px;
}

.course-description-text {
  font-size: 14px;
}

#course-enroll-button-col {
  padding: 0px;
}

#below-banner-row {
  margin-top: 2rem;
}

.wwyl-icon {
  margin-right: 10px;
  color: #269359;
}

#what-will-you-learn-row {
  padding: 16px 24px 0px;
}

.skill-col {
  background-color: #EBECED;
  border-radius: 1.875rem;
  height: 1.875rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  margin: 0px 8px 8px 0px;
}

.checkout-text-input {
  border-radius: 7px;
  border-width: 0px;
  width: 100%;
  background: #ededed;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
}

.cart-original-price {
  font-size: 15px;
  color: #6A6F74;
}

.cart-total-price-text {
  font-size: 36px;
}

#course-in-cart-count-row {
  margin: 10px 0px;
}

.review-star-cart {
  margin: 0px 1px;
}

.cart-course-each-price-instructor-text {
  color: #6A6F73;
  font-size: 14px;
}

.before-discount-price {
  color: #6A6F73;
}

.cart-course-each-price-text {
  font-size: 15px;
}

.course-rating-by-students-ago {
  font-size: 14px;
  color: #6A6F73;
}

#course-student-feedback-avatar {
}

.course-feature-row {
  margin: 0px 0px 24px;
  padding: 8px 0px 0px;
}

#student-feedback-heading {
  font-size: 24px;
}

#course-feature-col {
  padding: 0px 12px;
}

.course-feature-text {
  font-size: 14px;
}

.course-feature-heading {
  font-size: 20px;
}

#skills-ypu-will-gain-row {
  padding: 16px 24px 24px;
}

#course-institution-logo {
  max-width: 100px;
  width: 100px;
  height: 100px;
}

#home-banner-img {
  margin-left: 100px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #073b3a;
  cursor: pointer;
}

.category-filter-text {
  margin-left: 10px;
}

.category-filter-checkbox {
  height: 15px;
  width: 15px;
}

.cart-item-count-badge {
  background-image: linear-gradient(to right, #2DAB63, #2A9C5B, #2A915A, #269359);
  
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 5px;
}

.btn-primary:focus.delete-button, .btn-primary:active.delete-button, .btn-primary:active:focus.delete-button, .btn-primary:hover.delete-button, .delete-button {
  background: white;
  color: black;
  border: none;
}

.btn-primary:active:focus.delete-button {
  box-shadow: 0 0 0 .25rem rgba(38,147,89,0.5) !important;
}

.red-text {
  color: red;
}

.course-review-textarea {
  border-radius: 4px;
  border: 1px solid #e6e8eb;
  font-size: 16px;
  resize: none;
  height: 80px;
  background: rgb(245,246,247);
  border-style: none;
  padding-left: 10px;
}












/* added by MHS */




.button-width{
  width: 100%;
}

.modal-color{
 color:#2A9C5B;
}

.instructor-image{
  height:10%;
}


#section-1{
  background-color: #4FBDBA;
  width: 100%;
  /* height:90vh; */
}
.section-1-header{
  color: white;
  font-size: 280%;
 
}
.section-1-text{
  color: white;
  font-size: 120%;
}

.h1-effect{
  overflow: hidden;
  white-space: nowrap;
  animation: text 4s infinite alternate;
  border-right: 3px solid white;

}
@keyframes text {
  0%{
    width: 0ch;
  }
  100%{
    width: 17ch;
  }
  
}

#homepage-search-input{
  width: 100%;
}

.button-color{
  color: #073b3a;
}


.slider-img{
  width:auto;
  height:1%;
  
}

.custom{
 text-align: center;  


}

.header-class{
  margin-bottom:50px;
}

.section-2{
  background-color:#AEFEFF;
}
.topic{
   
  padding: 2%;
  text-align: center;
  color:white;
  margin: 1%;
  margin-top: 2%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* height: 90px !important;
  width: 17% !important; */
 
  
}

#section-2-header{
  color: #073b3a;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  font-family: 'Signika', sans-serif !important;
}
#section-part2-header{
  color: #073b3a;
  padding-top: 30px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  font-family: 'Signika', sans-serif !important;
}

#topic-1{
  background-color: #D885A3;
}
#topic-2{
  background-color: #7897AB;
}
#topic-3{
  background-color: #FDCEB9;
}
#topic-4{
  background-color: #655D8A;
}
#topic-5{
  background-color: #CAF7E3;
}

.experiment{
  color: white;
  background:rgba(0,0,0,0.8);
  top: -100%;
  left: 0;
  position:absolute;
  height: 100%;
  width: 100%;
  align-items:center ;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.5s;
}

.topic:hover .experiment{
  top:0;
}

.section2-container{
  background-color: white;
  border-radius: 25px;
  position: relative;
  top:-5vh;
}


.section-2-box{
  padding: 0;
  position: relative;
  width: 250px;
  perspective: 1000px;
  transition: all 0.5s ease-in-out 0.5s;

}

.section-2-box:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 10px 5px solid #000;
}
.section-2-box .section-2-box-img{
  transform:rotateY(0);
  transition: all 0.5s ease-in-out 0s;

}

.section-2-box:hover .section-2-box-img{
  transform:rotateY(-90deg);
}

.section-2-box .section-2-box-img img{
  width: 250px;
  height: 300px;
  border: 2px solid white;
  border-radius: 10px;
  
  box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.123);
}

.section-2-box .section-2-box-content{
  color:white;
  background: #4FBDBA;
  top:0;
  left:0;
  width: 100%;
  height: 110%;
  position: absolute;
  padding: 10px 10px;
  box-sizing:border-box;
  text-align: center;
  border-radius:10px ;
  transform: rotateY(90deg);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  

}

.section-2-box:hover .section-2-box-content{
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}

.section-2-row{
  padding-left: 100px;
  padding-bottom: 20px;
 
}

.section-2-part2-text{
  text-overflow: ellipsis;
  overflow: hidden;
}

.setion-2-2-image{
  border-radius: 50%;
  width: 120px;
}

.btn-clr{
  color: black !important;
  background-color: white !important;
}

.section-3{
  background-color: #4FBDBA;
}


.section-3-card{
  height:450px;
  width:340px;
  background-color: #AEFEFF;
  transform: scale(0.7);
  border-radius: 8px;
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.123);

}

.section-3-info{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color:#073b3a;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section-3-photo{
  height: 100%;
  width: 100%;
  /* background-image:url('../img/writing.png') ; */
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1s; 
}
.section-3-card:hover .section-3-photo{
  transform: scale(0.5,0.35) translateY(-650px);
  border-radius: 50%;
  background-size: 100% 150%;
  background-position: 0 -25px;
  
}

.section-3-text{
  font-size: 20px;
}

.section-3-span{
  font-size: 20px;
  font-weight: 800;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.section-3-row{
  padding-left: 53px;
}

.section-4{
  background-color:#AEFEFF;
}


.common-button{
  background-color: #072227d5 !important;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid #7897AB !important;
  border-radius: 10px !important;
  width: 140px;
  height: 50px;
  box-shadow: 1px 1px 10px 50px solid #000 ;
  
  
}

#modal-1{
  /* right: -76%;
  top:30px; */
}

.login-input{
  border: 2px solid green;
  width: 90%;
}

.signup-input{
  width: 96%;
  border: 2px solid green;
}

.modal-header{
  background-color: #90E0EF;
}
.modal-body{
  background-color:#CAF0F8 ;
}
.modal-footer{
  background-color:#CAF0F8  ;
}
#login-button{
  background: #073b3a !important;
}

#gender-selection{
  border: 2px solid green;
  
    height: 2rem;
    border-radius: 3px;
}

#email-input{
  width: 94%;
}

@media only screen and (max-width:688px){
  body{
      width: 100%;
  }
  html,body{
  overflow-x: hidden;
}

.slider-img{
  width:auto;
  height:1%;
  padding-bottom: 100px;
}

.section-1-left{
  margin-top: 0;
  padding-top: 0;
  font-size: 40px;
  text-align: center;
  padding-left: 5px;
}
.section-12-left{
  padding-left: 5px;
}
#homepage-search-input{
  width: 70%;
}

.slider-img {
  width: 90%;
}

#homepage-left-banner {
  height: 45vh;
}
.section-2-row{
  padding-left: 16%;
}

.section-3-row{
  padding-left: 5%;
}


#modal-1{
  right: 0px;
  top:0px;
}
}



